<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Recruteur</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Bienvenue dans votre espace Recruteur</h1>
<nav>
    <ul>
        <li><a href="/recruteur/planifier-entretien">Planifier un Entretien</a></li>
        <li><a href="/recruteur/evaluations">Évaluations des Candidats</a></li>
        <li><a href="/recruteur/historiques">Historique des Candidats</a></li>
        <li><a href="/recruteur/logout">Se déconnecter</a></li>
    </ul>
</nav>
</body>
</html>
